{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form method="POST" id="myform">
        <div class="col-1">
          <div class="dropdown mt-3">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
            >
              İnsansız kara aracının maliyeti:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{ form.hidden_tag() }} {{ form.radio_btn(class_="")}}
            </ul>
          </div>
        </div>
        <!-- 4. column-->
        <div class="col-2">
          <div class="dropdown mt-3">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
            >
              İnsansız kara aracının boyutsal sınıflandırması:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{ form.hidden_tag() }} {{ form.radio_btn_4(class_="")}}
            </ul>
          </div>
        </div>

        <!-- 2. column-->
        <div class="col-2">
          <div class="dropdown mt-3">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
            >
              İnsansız kara aracının özerklik seviyesi:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{ form.hidden_tag() }} {{ form.radio_btn_2(class_="")}}
            </ul>
          </div>
        </div>
        <!-- 3. column-->
        <div class="col-2">
          <div class="dropdown mt-3">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
            >
              İnsansız kara aracının kapsama alanı:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{ form.hidden_tag() }} {{ form.radio_btn_3(class_="")}}
            </ul>
          </div>
        </div>

        <!-- 5. column-->
        <div class="col-2">
          <div class="dropdown mt-3">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
            >
              İnsansız kara aracının görevi:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{ form.hidden_tag() }} {{ form.radio_btn_5(class_="")}}
            </ul>
          </div>
        </div>

        <!-- 7. column-->
        <div class="col-2">
          <div class="dropdown mt-3">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
            >
              İnsansız kara aracında kullanılacak motor tipi:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{ form.hidden_tag() }} {{ form.radio_btn_7(class_="")}}
            </ul>
          </div>
        </div>

        <!-- 8. column-->
        <div class="col-2">
          <div class="dropdown mt-3">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
            >
              İnsansız kara aracının kullanılacağı arazi tipi:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{ form.hidden_tag() }} {{ form.radio_btn_8(class_="")}}
            </ul>
          </div>
        </div>
        <!-- 9. column-->
        <div class="col-2">
          <div class="dropdown mt-3">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
            >
              İnsansız kara aracının manevra kabiliyeti:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{ form.hidden_tag() }} {{ form.radio_btn_9(class_="")}}
            </ul>
          </div>
        </div>
        <div class="submit-area">
          {{form.submit(class_="btn btn-success px-5 py-2 mt-5")}}
        </div>
      </form>
    </div>
    <!-- Sonclar kismi-->
    <div class="col-md-6">
      <table class="table table-hover table-secondary table-striped res-table">
        <thead>
          <tr>
            <th scope="col">Soru</th>
            <th scope="col">Cevap</th>
          </tr>
        </thead>
        <tbody>
          {% for item in range(9) %}
          <tr>
            <th scope="row">{{item+1}}</th>
            {% if results|length < 9 %}
            <td>Seçim Yapılmadı!</td>
            {% else %}
            <td>{{results[item]}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="loading-img">
        <img
          class="loading"
          style="display: none"
          id="loading-img"
          src="https://media0.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif?cid=ecf05e472a2jeo33qagyi8ekln4ep56d1ioxp81r4e6gjbsu&ep=v1_gifs_search&rid=giphy.gif&ct=g"
        />
      </div>
    </div>
  </div>
</div>

{% endblock %}
