{% extends "base.html" %} {% block content %}
<h2 class="veriHead">Veri Seti</h2>
<div class="veriTabani">
  <table class="table table-hover table-secondary table-striped res-table">
    <thead>
      <tr>
        <th scope="col">Maliyet</th>
        <th scope="col">Ağırlık Sınıfı</th>
        <th scope="col">Özerk Yapı</th>
        <th scope="col">Kontrol Sistemi</th>
        <th scope="col">Faydalı Yük</th>
        <th scope="col">Motor</th>
        <th scope="col">Arazi Tipi</th>
        <th scope="col">Yönlendirme Sistemi</th>
        <th scope="col">Süspansiyon Sistemi</th>
        <th scope="col">Gövde Malzemesi</th>
        <th scope="col">Enerji Sistemi</th>
        <th scope="col">Güç Aktarma Sistemi</th>
        <th scope="col">Fren Sistemi</th>
        <th scope="col">Isı Yönetim Sistemi</th>
        <th scope="col">Elektrik Sistemi</th>
        <th scope="col">Elektronik Üniteler</th>
        <th scope="col">2 Tekerlekli</th>
        <th scope="col">3 Tekerlekli</th>
        <th scope="col">4 Tekerlekli</th>
        <th scope="col">6 Tekerlekli</th>
        <th scope="col">8 Tekerlekli</th>
        <th scope="col">Paletli</th>
      </tr>
    </thead>
    <tbody>
      {% for item in range(100) %}
      <tr>
        {% if data|length < 1 %}
        <td>Seçim Yapılmadı!</td>
        {% else %} {% for index in range(22) %}
        <td>{{data[item,index]}}</td>
        {% endfor %} {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
