@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: content-box;
  font-family: "Oswald", sans-serif;
}

body {
  min-height: 100%;
}
main {
  padding: 1rem;
  min-height: calc(100vh - 56px);
}

footer {
  height: auto;
}
.sub-manu {
  position: relative;
}

.sub-menu:hover .savika-menu {
  position: absolute;
  display: inline-block;
  left: 11.23rem;
  top: -0.15rem;
}

.logo-main {
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(0) invert(1);
}

.logo-flag {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.logo-flag-2 {
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.2rem;
}

.ana-header {
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.ana-title {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  margin-top: 4rem;
}

.baslat {
  text-align: center;
  font-size: 1.3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  letter-spacing: 0.2rem;
  margin-top: 6%;
}

.ana-content {
  text-align: center;
}

.gazi-header h1 {
  font-size: 2.1rem;
}

li {
  text-decoration: none;
  list-style: none;
}

input[type="radio"]:checked {
  border: 1px solid #f90;
  color: #f90;
}

.dropdown button {
  width: 38vw;
  margin-left: -7rem;
  margin-top: 1.5rem;
}

.submit-area {
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  margin-right: 6rem;
}

.res-table {
  margin-left: 2rem;
  margin-top: 2.4rem;
  border-radius: 0.5rem !important ;
  overflow: hidden;
}

.loading {
  position: absolute;
  border-radius: 50%;
  width: 8rem;
  margin-top: 8rem;
  bottom: 0;
}

/* geniş ekran */
@media only screen and (min-width: 1401px) and (max-width: 2000px) {
  img.loading {
    margin-bottom: 37rem;
    margin-left: 17rem;
  }
}

/* geniş ekran */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  img.loading {
    margin-bottom: 35rem;
    margin-left: 15rem;
  }
}

/* Laptop */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  img.loading {
    margin-bottom: 35rem;
    margin-left: 12rem;
  }
}

/* tablet küçük laptop */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  img.loading {
    margin-bottom: 35rem;
    margin-left: 9rem;
  }
}

/* geniş telefon */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  img.loading {
    margin-bottom: 45rem;
    margin-left: 8.8rem;
  }
}

/* küçük ekranlar */
@media only screen and (max-width: 574px) {
  img.loading {
    margin-bottom: 30rem;
    margin-left: 13.5vw;
  }
}

.dropdown-toggle {
  text-transform: capitalize !important;
}

/* Multiform */

.cardForm {
  max-height: 100%;
  position: absolute;
  background-color: #f1f1f1;
  border: 1px solid #333;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  transform: translateX(80%);
  opacity: 0;
  transition: 500ms ease-in-out;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.form-group :last-child {
  margin: 0;
}

li > label {
  display: inline;
  clear: none;
  white-space: normal;
  color: #333 !important;
}

li > input[type="radio"] {
  float: left;
  clear: none;
  margin: 5.5px 3px 0 -1px;
}

.sartname-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40vw;
  max-height: 30vw;
  border-radius: 0.5rem;
}

.cardForm.active {
  position: absolute;
  transform: translateX(0%);
  opacity: 1;
  left: 0;
  top: 0;
}

.multi-step-form {
  position: relative;
  overflow: hidden;
  min-height: 850px;
  text-align: center;
  min-width: 20vw;
}

.submit-area {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
button {
  width: 100%;
  margin: 0 auto;
}

.results {
  display: block;
}

.header-sart {
  text-align: center;
  padding: 0.5rem;
}

.ortala {
  margin: 0 auto;
  text-align: center;
  margin-left: 12.5vw;
}

.container {
  min-height: 100% !important;
  min-width: 100% !important;
}

.savika-sonuc-container {
  clear: both;
  min-width: 100vw;
  min-height: 100vh;
}

.savika-sonuc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  width: 50%;
  margin-top: 2rem;
}

.sonuc_ {
  margin: 0 auto;
  margin-top: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  padding-top: 2rem;
}

.veriTabani {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.veriHead {
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
}

model-viewer {
  height: 480px;
  width: 480px;
}

.img_2d {
  margin-left: 2rem;
  height: 320px;
  width: 320px;
}
.btn-savika {
  margin: 0 auto;
  min-width: 30vw;
}
